#!/bin/bash

export HUBOT_SLACK_TOKEN=xoxb-4787026043-LoI3vcXSMfTmxE95SPK1PONA
export HUBOT_SLACK_TEAM=ebisol
export HUBOT_SLACK_BOTNAME=ebichan

export HUBOT_NEWRELIC_APP_ID=968900
export HUBOT_NEWRELIC_ACCOUNT_ID=ac22f5499ac8e24f327d63461ce819252d28f3713034d2d
export HUBOT_NEWRELIC_API_KEY=9d8b48db2abf6931def1582d94160119fe4157713034d2d

bin/hubot --adapter slack -r src
